.button{
    border-radius: 10px;
    background-color: white;
}

.button:hover{
    background-color: blue;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: 200;
}

.link{
    color: blue;
    text-decoration: none;
    font-size: medium;
    font-weight: 100;
}

.link:hover{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: medium;
    font-weight: 200;
}

.body{
    background-color: black;
    color: white;
    font-size: 15px;
}